@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  color: aliceblue;
}

a:hover {
  color: #20206f; 
  font-size: 1.1rem;
}
.menu-anchor:hover {
  background-color: #cafce1 !important;
  font-weight: bolder;
}

.menu-label {
  font-size: 13px;
}

button {
  right: 20px;
}
a,
.fpTHfu,
.app {
  background-color: #0000ff !important;
}

.app .ps-sidebar-container {
    background-color: #0000ff !important;
}
